:root
{
    --light-green: #348d7a;
    --golden: #ffd700;
    --strong-gray: #363636;
    --strong-blue: #0047ab;
    --gmail-red: #db4437;
}

body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.page
{
    position: relative;
}

.left-navbar-wrap
{
    width: 70px;
    float: left;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s;
    box-shadow: 0 0 15px 0 rgba(70, 70, 70, 0.4);
    clip-path: inset(0 -15px 0 0);
}

.left-navbar-wrap:hover
{
    width: 240px;
    overflow: visible;
}

.left-navbar-wrap:hover ~ .main-wrap
{
    opacity: 0.6;
    filter: blur(3px);
}

.left-navbar-wrap:hover .credentials-name
{
    visibility: visible;
    opacity: 1;
}

.left-navbar-wrap:hover .credentials-info
{
    visibility: visible;
    opacity: 1;
}

.left-navbar-credentials
{
    height: 200px;
    border-bottom: 0.5px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.credentials-name
{
    font-size: 34px;
    color: var(--light-green);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.credentials-info
{
    margin: 8px 0 0 2px;
    font-size: 16px;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

nav
{
    text-align: center;
}

nav ol
{
    padding: 0;
    margin: 0;
}

nav ol li
{
    padding: 12px 0 12px 0;
}

nav ol li a
{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}

nav ol li a:hover
{
    background-image: linear-gradient(
        to right,
        var(--light-green) 7px,
        rgba(210, 210, 210, 0.2) 7px
    );
}

nav ol li a i.nav-icon
{
    font-size: 20px;
    width: 22px;
    flex-basis: 50px;
}

.chosen-page
{
    font-weight: 600;
}

nav ol li a p
{
    width: 70px;
    text-align: left;
    flex-basis: 150px;
}

.main-wrap
{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

.top-head-wrap
{
    box-shadow: 0 0 15px 0 rgba(70, 70, 70, 1);
    clip-path: inset(0 0 -15px 0);
}

.top-head-message
{
    padding: 4.5vh;
    text-align: center;
    background-color: var(--light-green);
    font-size: 50px;
    color: white;
}

.content
{
    margin-top: 3%;
    margin-left: 70px;
    display: flex;
    justify-content: space-evenly;
}

.content-aboutme
{
    width: 30%;
}

.aboutme-header
{
    font-size: 50px;
    font-weight: 500;
}

.aboutme-header p
{
    font-weight: 700;
    color: var(--light-green);
    margin: 0;
}

.aboutme-content
{
    font-size: 24px;
}

.content-image
{
    width: 25%;
    height: 25%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
