:root
{
    --green: #348d7a;
}

body
{
    margin: 0;
}

.page
{
    width: 100%;
}

.left-navbar-wrap
{
    float: left;
}

.left-navbar-credentials
{
    height: 200px;
    border-bottom: 0.5px solid rgb(218, 218, 218);
}

nav
{
    height: 600px;
    width: 100px;
    text-align: center;
}

nav ol
{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ol li
{
    padding: 12px 0 12px 0;
}

.top-head-wrap
{
    overflow: auto;
}

.top-head-message
{
    padding: 4.5vh;
    text-align: center;
    background-color: var(--green);
    font-size: 50px;
    color: white;
}

.content
{
    overflow: auto;
    text-align: center;
}
